.wp-block-fg-fg-ticker {
  display: flex;

  .ticker-list {
    display: flex;

    p {
      white-space: nowrap;
      margin-top: 0;
    }
  }

  &.pauseonhover:hover .ticker-list {
    animation-play-state: paused !important;
  }
}

@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
